<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h1>User info</h1>
<p th:text="|Login: ${user.getLogin()}|">VALUE</p>
<p th:text="|Full name: ${user.getFirstName()} ${user.getLastName()}|">VALUE</p>
<p th:text="|E-mail: ${user.getEmail()}|">VALUE</p>
<p th:text="|Id: ${user.getId()}|">VALUE</p>
<table>
    <tbody>
        <tr>
            <td>
                <form th:method="GET" th:action="@{/admin/{id}/edit(id=${user.getId()})}">
                    <input type="submit" value="Edit"/>
                </form>
            </td>
            <td>
                <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
            <td>
                <form method="get" action="/admin">
                    <input type="submit" value="Back"/>
                </form>
            </td>
            <td>
                <form method="get" action="/logout">
                    <input type="submit" value="Logout"/>
                </form>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>